/* Base styles */
/* Container */
/* Profile Card */
/* Form */
/* Using required and a faux pattern to see if input has text from http://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css */
/* Button */
/* Intro animation */

img {
	vertical-align: middle;
	max-width: 100%;
}
button {
	cursor: pointer;
	border: 0;
	padding: 0;
	background-color: transparent;
    
}
.container2 {
	position: relative;
    
	width: 24em;
	left: 85%;
    padding-top: 500px;
	bottom: 80%;
	transform: translate(-50%,-50%);
	animation: intro .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
#pic{
    height: 80px;
}

.profile--open {
    
	.profile__form {
		visibility: visible;
		height: 200px;
		opacity: 1;
		transform: translateY(-6em);
		padding-top: 12em;
	}
	.profile__fields {
		opacity: 1;
		visibility: visible;
	}
	.profile__avatar {
		transform: translate(-50%, -1.5em);
		border-radius: 20%;
	}
}
.profile__form {
	position: relative;
	background: white;
	visibility: hidden;
	opacity: 0;
	height: 200px;
	padding: 5em;
	border-radius: .25em;
	
	transition: opacity .4s ease-in-out, height .4s ease-in-out, transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__fields {
    
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__avatar {
    
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 1.25em;
	overflow: hidden;
	width: 4.5em;
	height: 4.5em;
	display: block;
	transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	will-change: transform;
	&:focus {
		outline: 0;
	}
}
.profile__footer {
	padding-top: 1em;
}
.field {
    
	position: relative;
	margin-bottom: 1em;
}
.label {
	position: absolute;
	height: 2rem;
	line-height: 2rem;
	bottom: 0;
	color: #999;
	transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}
.input {
	width: 100%;
	font-size: 100%;
	border: 0;
	padding: 0;
	background-color: transparent;

	line-height: 2rem;
	border-bottom: 1px solid #eee;
    
	color: #777;
	transition: all .2s ease-in;
	&:focus {
		outline: 0;
		border-color: #ccc;
		+ {
			.label {
				transform: translateY(-100%);
				font-size: 0.75rem;
				color: #ccc;
			}
		}
	}
}
